$black: #484848;
$light: rgb(238, 238, 238);
$white: rgba(250, 250, 250, 1);
$light-blue: #4b7cf5;
$lightest-blue: #6a92f8;
$dark-blue: rgba(40, 93, 145, 1);
$flag-color: rgba(35, 35, 43, 0.77);
$blue-shadow: #3463da;
$light-grey: rgb(164, 166, 169);
$red: rgb(220, 73, 58);