@import '../../common/animate';

.image {
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        &.cancelled {
          filter: blur(5px);
        }
    }
    .grid-item-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      background-color: #000000;
    }
    .cancelled-flag {
      border-radius: 5px;
      position: absolute;
      background-color: $flag-color;
      color: $light;
      right: 0;
      top: 0;
      margin: 10px;
      padding: 10px;
    }
  }