.grid-item {
    display: flex;
    flex-flow: column;
    padding: 10px;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition: all 300ms ease-in-out;
    border-radius: 15px;
    text-decoration: none;
}

.grid-item:hover {
    cursor: pointer;
    background-color: $light;
    .grid-item-overlay {
      opacity: 0.3;
    }
    .cancelled-flag {
        animation: shake 1s;
    }
}