// Grid properties
@import 'gridText';

.container {
  display: grid;
  grid-template-rows: auto auto auto auto 100px;
  grid-template-columns: 5vw auto 5vw;

  h1 {
    grid-column: 2;
    grid-row: 3;
  }
  .header {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-columns: 10vw auto 10vw;
    padding-top: 10px;
    .logo {
      grid-row: 1;
      grid-column: 1;
      img {
        max-width: 100%;
      }
    }
    .campus {
      display: flex;
      grid-row: 1;
      grid-column: 3;
      span {
        margin: 2px;
      }
    }
  }
  .view-more-events {
    grid-row: 5;
    grid-column: 2;
    align-self: center;
    justify-self: center;
  }
}

// Grid properties
.event-container {
  display: grid;
  grid-column: 2;
  grid-row: 4;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 30px;
  &.upcoming {
    max-height: 900px;
    overflow: hidden;
    -webkit-mask-image: -webkit-linear-gradient( 
      rgba(0,0,0,1) 844px, 
      rgba(0,0,0,0) 900px);
  }
}

.grid-item {
  display: grid;
  padding: 10px;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition: all 300ms ease-in-out;
  grid-template-rows: 1fr auto;
  border-radius: 15px;
}

.grid-item:hover {
  cursor: pointer;
  background-color: $themeColor-light;
  .grid-item-options {
    opacity: 0.3;
  }
}

.text {
  padding-top: 2px;
  overflow: hidden;
}

.image {
    overflow: hidden;
    position: relative;
    img {
        border-radius: 15px;
        height: 100%;
        width: 100%;
        object-fit: none;
    }
    .grid-item-options {
      border-radius: 15px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      background-color: #000000;
  }
}
