@import 'themeColors';

.event-grid-title {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: $themeColor-black;
}

.event-grid-date {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: $themeColor-black;
}

.event-grid-hashtags {
    overflow: hidden;
    text-overflow: ellipsis;
    a {
        margin-right: 5px;
        font-family: 'Barlow', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: $themeColor-lightBlue;
        text-decoration: none;
    }
    a:hover {
        color: $themeColor-darkBlue
    }
}
