@import 'themeColors';
body {
  font-family: 'Barlow', sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 36px;
  color: $themeColor-darkBlue;
}

button {
  width: 100px;
  background: $themeColor-lightBlue;
  color: $themeColor-white;
  border-radius: 7px;
  height: 30px;
  border: 0;
  text-align: center;
}

.container {
  display: grid;
  grid-template-rows: auto auto auto auto 100px;
  grid-template-columns: 5vw auto 5vw;

  h1 {
    grid-column: 2;
    grid-row: 3;
  }
  .header {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-columns: 10vw auto 10vw;
    align-items: center;
    .logo {
      display: flex;
      grid-row: 1;
      grid-column: 1;
      img {
        max-width: 100%;
      }
    }
    .campus {
      display: flex;
      grid-row: 1;
      grid-column: 3;
      span {
        margin: 2px;
      }
    }
  }
}